*{
    box-sizing: border-box;
}

body{
    font-family: 'Poppins', sans-serif;
    font-size: 16px;
    margin: 0;
    background: #F8F4EA;
}

header{
    background-color: #FEFCF3;
    height: 65px;
    display: flex;
    align-items: center;
    padding: 5px 20px;
    justify-content: space-between;
    box-shadow: 0px 3px 10px 0 rgba(255,187,92,0.2);
    position: relative;
    max-width: 100%;
    margin: auto;
}


/**MENU BAR**/

.menu-bar ul {
    display: flex;
    height: 100px;
    justify-content: center;
    align-items: center;
    position: relative;
}

.menu-bar ul li {
    list-style-type: none;
    padding: 20px;
    margin: 0px;
    font-size: 20px;
    text-orientation: upright;
    cursor: pointer;
    position: relative;
}

.menu-bar ul li a {
    text-decoration: none;
    font-weight: 700;
    color: #000;
    transition: all 0.3s;
    text-align: left;
    justify-content: left;
}

.menu-bar ul li a:hover {
    color: #025464;
}

.fas {
    float: right;
    margin-left: 10px;
    padding-top: 3px;
}


/**MENU SEARCH**/


.inputSearch .searchForm {
    position: relative;
    display: flex;
    align-items: center;
    height: 32px;
    width: 300px;
    margin: auto;
    border-radius: 25px;
    overflow: hidden;
    border: 1.5px solid #025464;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
    transition: all 0.3s ease;
}

.inputSearch .searchInput{
    position: absolute;
    width: 100%;
    height: 100%;
    border-radius: 25px;
    background-color: #FEFCF3;
    outline: none;
    border: none;
    font-size: 14px;
    padding: 0px 15px;
}

.inputSearch .icon {
    position: absolute;
    right: -2px;
    width: 50px;
    background: #025464;
    height: 100%;
    text-align: center;
    line-height: center;
    color: #fff;
    font-size: 20px;
    border-radius: 0 25px 25px 0;
}

.inputSearch .searchInput:focus ~ .icon {
    background: #025464;
    color: #fff;
    width: 50px;
    border-radius: 0 25px 25px 0;
}


@media all and (min-width:700px) {
    .inputSearch{ 
        display: flex;
    }
    .searchForm{
        max-width: 300px;
    }
    .searchInput {
        width: 100%;
        height: 100%;
        padding: 0 15px;
    }
    .icon {
        width: 50px;
    }
}


/* post filter */
.post-filter{
    display: flex;
    justify-content: center;
    align-items: center;
    column-gap: 1.5rem;
    margin-top: 2rem !important;
    margin-bottom: 2rem;
}
  
.filter-item{
    font-size: 0.9rem;
    font-weight: 500;
    cursor: pointer;
}
  
.active-filter{
    background: #025464;
    color: #ffff;
    padding: 4px 10px;
    border-radius: 4px;
}
  
/* Posts */
.post{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(280px, auto));
    justify-content: center;
    gap: 1.5rem;
    margin-left: 1rem;
    margin-right: 1rem;
}
  
.post-box{
    background: #FEFCF3;
    box-shadow: 0 4px 14px hsl(355deg 25% 15% / 10%);
    padding: 15px;
    border-radius: 0.5rem;
}
  
.post-img{
    width: 100%;
    height: 200px;
    object-fit: cover;
    object-position: center;
    border-radius: 0.5rem;
}
  
.category{
    font-size: 0.9rem;
    font-weight: 700;
    text-transform: uppercase;
    color: #025464;
}
  
.post-title{
    font-size: 1.3rem;
    font-weight: 600;
    color: black;
    /* to remain title in 3 lines */
    display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
    overflow: hidden;
}
  
.post-date{
    display: flex;
    font-size: 0.875rem;
    text-transform: uppercase;
    font-weight: 400;
    margin-top: 4px;
}
  
.post-description{
    font: 0.9rem;
    line-height: 1.5rem;
    margin: 5px 0 10px;
    /* to remain title in 4 lines */
    display: -webkit-box;
    -webkit-line-clamp: 4;
    -webkit-box-orient: vertical;
    overflow: hidden;
}
  
.profile{
    display: flex;
    align-items: center;
    gap: 10px;
}
  
.profile-img{
    width: 35px;
    height: 35px;
    border-radius: 50%;
    object-fit: cover;
    object-position: center;
    border: 2px solid #025464;
}
  
.profile-name{
    font-size: 0.82rem;
    font-weight: 500;
}
  


/**MENU FOOTER**/

.container-footer{
    height: 7vh;
    background-color: #E1D7C6;
    display: flex;
    justify-content: center;
    align-items: center;
}

.h1-footer{
    font-size: 15px;
    color: #146C94;
}
